<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <a routerLink="/">
        <img src="../../../assets/logo/kandh.png" alt="K And H Transport Logo" />
      </a>
      <p>&copy; K And H Transport Inc. | Since 2016</p>
    </div>

    <div class="social-links">
      <a href="https://www.instagram.com/kandhtransportinc/?igsh=ZG91cnRxcWxkcWQ5&utm_source=qr#">Instagram</a>
      <a href="#">Facebook</a>
      <a href="#">Skype</a>
    </div>
  </div>

  <div class="footer-credit">
    <p>Made With Love by : CodeAkuma®</p>
  </div>
</footer>
